<!DOCTYPE html>
<html>
<head>
 <title>Home</title>
</head>
<body>
 <h1>Text</h1>
 <h2>form</h2>
 <form method="get" action="/analyze">
  <textarea name="text"></textarea> <br>
  <input type="checkbox" name="punc"> remove punctuations <br>
  <input type="checkbox" name="caps"> Caps <br>
  <input type="checkbox" name="newLineRem"> remove new line <br>
  <input type="checkbox" name="spaceRem"> remove Extra spaces <br>
  <!-- <input type="checkbox" name="charcount"> count chars <br> -->
  <button type="submit">Submit</button>
 </form>
</body>
</html>
